{% extends 'base.html' %}
{% load staticfiles %}

{% block contents %}
<div class = "container">
    {% if user.is_authenticated %}
    <br>
    <br>
    <h1> 잘 지냈어, {{ user.username }}? </h1>
    <br>
    <br>
        {% for blog in posts %}
            <ge.h2>제목 : {{blog.title}}</ge.h2><br>
            작성일 : {{blog.pub_date}}<br>
            내용 : <a href="{% url 'detail' blog.id %}"> 내용 보기</a>
            <br>
            <br>
        {% endfor %}

        {% if posts.has_previous %}
        <a href='?page=1'>First</a>
        <a href="?page={{post.previous_page_number}}"> >> </a>
        {% endif %}

        <span>{{posts.number}}</span>
        <span>of</span>
        <span>{{posts.paginator.num_pages}}</span>

        {% if posts.has_next %}
        <a href="?page={{post.next_page_number}}"> >> </a>
        <a href="?page={{posts.paginator.num_pages}}">Last</a>
        {% endif %}
    {% else %}
        <br>
        <h1>서비스에 접근하려면 로그인하세요</h1>
        <br>
        
        <form method="POST" action="{% url 'index'%}">
            {% csrf_token %}
            Username:
            <br>
            <input name="username" type="text" value="">
            <br>
            Password:
            <br>
            <input name="password" type="pasword" value="">
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="로그인">
        </form>

    {% endif %}
</div>


{% endblock %}